body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* --------------- HEADER --------------- */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-item {
    color: #434455;
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}
/* ----------------------------------------- */

/* --------------- HERO --------------- */

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;

    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* ---------------------------------------- */

/* ----------------- ADVANTAGES ------------------ */

.advantages {
}

.advantages-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-list-item-text {
}

/* ------------------------------------------------ */

/* ------------------- OUR TEAM ----------------- */

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-lest-item {
    background-color: #fff;
}
.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-text {
    text-align: center;
}
/* ------------------------------------------------ */

/* -------------------- PORTFOLIO ------------------ */
.portfolio {
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
}
.portfolio-list-item {
}

.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-item-text {
}
/* --------------------------------------------------- */

/* ----------------- FOOTER --------------------- */
.footer {
    background-color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
}
