body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-column {
    flex-direction: column;
}

/* --------------- HEADER --------------- */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-span {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
    padding: 24px 0 24px;
}

.nav-link {
    color: #2e2f42;
    font-weight: 500;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    padding: 24px 0 24px;
    gap: 40px;
}

.address-item {
    color: #434455;
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}
/* ----------------------------------------- */

/* --------------- HERO --------------- */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* ---------------------------------------- */

/* ----------------- ADVANTAGES ------------------ */

.advantages {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-list-item {
    width: calc((100% - 72px) / 4);
}

.advantages-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-list-item-text {
}

/* ------------------------------------------------ */

/* ------------------- OUR TEAM ----------------- */

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #fff;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item-container {
    padding: 32px 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    text-align: center;
}
/* ------------------------------------------------ */

/* -------------------- PORTFOLIO ------------------ */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-list-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-item-text {
}
/* --------------------------------------------------- */

/* ----------------- FOOTER --------------------- */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
    display: inline-block;
}
.footer-text {
    color: #f4f4fd;
    max-width: 264px;
    display: inline-block;
}
